<section class="sub-banner sub-banner-course">
  <div class="awe-static bg-sub-banner-course"></div>
  <div class="container">
  <div class="sub-banner-content">
    <h2 class="text-center">利用規約</h2>
  </div>
  </div>
</section>

    <!-- PrivacyPolicy -->
    <section class="subContentsWrap">
        <div class="container">
            <div class="content grid">
                 <div class="row">

<div class="col-md-10 col-md-offset-1">

<p>
本プライバシーポリシーは、当社が収集し利用するすべての個人情報をその対象として、当社の個人情報に関する基本的な考え方や指針をご説明させていただくものです。
Code4StartupJPは、個人情報保護に関する法令と社会秩序を尊重・遵守し、お客様からお預かりした個人情報を適切に取り扱い、プライバシーを保護することを、当社の社会的責務であると深く認識し、その管理・維持に誠心誠意努めてまいります。
</p>

<h1>1.個人情報の定義</h1>

<p>
「個人情報」とは、生存する個人に関する情報であり、当該情報に含まれる氏名、メールアドレス、その他の記述等により特定の個人を識別することができるもの、及び他の情報と容易に照合することができ、それにより特定の個人を識別することができるものを指します。
</p>

<h1>2.個人情報の収集</h1>

<p>
当サイトでは商品、サービスのご購入、ご依頼、ご相談をされた際にお客様の個人情報を収集することがあります。
収集するにあたっては利用目的を明記の上、適法かつ公正な手段によります。
当サイトで収集する個人情報は以下の通りです。
</p>

<p>
a)お名前
d)メールアドレス
c)当サイトとのお取引履歴及びその内容
d)上記を組み合わせることで特定の個人が識別できる情報
</p>

<h1>3.個人情報の利用</h1>

<p>
当サイトではお客様からお預かりした個人情報の利用目的は以下の通りです。
</p>

<p>
a)ご注文の確認、照会
b)お問合せの返信時
</p>

<p>
当サイトでは、下記の場合を除いてはお客様の断りなく第三者に個人情報を開示・提供することはいたしません。
</p>

<p>
a)法令に基づく場合、及び国の機関若しくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
b)人の生命、身体又は財産の保護のために必要がある場合であり、本人の同意を得ることが困難である場合
c)当サイトを運営する会社の関連会社で個人データを交換する場合
</p>

<h1>4.個人情報の安全管理</h1>

<p>
お客様よりお預かりした個人情報の安全管理は合理的、組織的、物理的、人的、技術的施策を講じるとともに、当サイトでは関連法令に準じた適切な取扱いを行うことで個人データへの不正な侵入、個人情報の紛失、改ざん、漏えい等の危険防止に努めます。
</p>

<h1>5.個人情報の訂正、削除</h1>

<p>
お客様からお預かりした個人情報の訂正・削除は下記の問合せ先よりお知らせ下さい。
mail /
</p>

<h1>6.cookie(クッキー)の使用について</h1>

<p>
当社は、お客様によりよいサービスを提供するため、cookie （クッキー）を使用することがありますが、これにより個人を特定できる情報の収集を行えるものではなく、お客様のプライバシーを侵害することはございません。
また、cookie （クッキー）の受け入れを希望されない場合は、ブラウザの設定で変更することができます。
</p>

<h1>7.お問合せ先</h1>

<p>
mail /
</p>

<h1>8.プライバシーポリシーの変更</h1>

<p>
当サイトでは、収集する個人情報の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページへの変更をもって公表とさせていただきます。
</p>
</div>


                 </div>
             </div>
        </div>
    </section>
    <!-- END / CATEGORIES CONTENT -->